/* .box {
    height: 468px;
    width: 478px;
  }
  
  .box .ellipse {
    background-color: #034991;
    border-radius: 239px/234px;
    height: 468px;
    left: 0;
    top: 0;
    width: 478px;
  } */




 
  .text_langages{
    color: #034991;
  }
  .text_education{
    color: #034991;
  }