/* .header-frame {
    height: 689px;
    width: 1419px;
  }
  
  .header-frame .overlap {
    height: 619px;
    left: 3px;
    position: relative;
    top: 31px;
    width: 1491px;
  }
  
  .header-frame .overlap-group {
    height: 619px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1491px;
  }
  
  .header-frame .header {
    background-color: transparent;
    height: 553px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1491px;
  }
  
  .header-frame .photo-student {
    height: 496px;
    left: 793px;
    position: absolute;
    top: 57px;
    width: 698px;
  }
  
  .header-frame .overlap-group-2 {
    height: 439px;
    left: 26px;
    position: absolute;
    top: -132px;
    width: 508px;
  }
  
  .header-frame .vector {
    height: 160px;
    left: 348px;
    position: absolute;
    top: 142px;
    width: 160px;
  }
  
  .header-frame .img {
    height: 90px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 90px;
  }
  
  .header-frame .vector-2 {
    height: 435px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 435px;
  }
  
  .header-frame .ingeniera-en {
    height: 31px;
    left: 142px;
    position: absolute;
    top: 465px;
    width: 554px;
  }
  
  .header-frame .heading {
    height: 398px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 702px;
  }
  
  .header-frame .button-about-me-wrapper {
    height: 51px;
    left: 0;
    position: absolute;
    top: 444px;
    width: 160px;
  }
  
  .header-frame .button-about-me-instance {
    background-color: #cd1719 !important;
  }
  
  .header-frame .design-component-instance-node {
    color: #ffffff !important;
  }
  
  .header-frame .https-unsplash-com {
    height: 448px;
    left: 983px;
    position: absolute;
    top: 0;
    width: 444px;
  }
  
  .header-frame .https-unsplash-com-2 {
    height: 67px;
    left: 7px;
    position: absolute;
    top: 552px;
    width: 73px;
  }
  
  .header-frame .https-unsplash-com-3 {
    height: 67px;
    left: 240px;
    position: absolute;
    top: 552px;
    width: 73px;
  }
  
  .header-frame .boto {
    display: flex !important;
    height: 43px !important;
    left: 100px !important;
    position: absolute !important;
    top: 564px !important;
    width: 110px !important;
  }
  
  .header-frame .bot-o-instance {
    font-family: "Inter-SemiBold", Helvetica !important;
    font-size: 20px !important;
    font-style: unset !important;
    font-weight: 600 !important;
    letter-spacing: 0 !important;
    line-height: normal !important;
    text-decoration: unset !important;
  }
 */
 .card-list {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}




.slider-container {
  background-color: #F4F6F5;
  padding: 40px 8rem;
}

.slider {
  padding: 20px 0;
  border-radius: 10px;
}




.card-profile {
  min-width: 300px;
  max-width: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-profile:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-profile-content {
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.card-profile h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-profile p {
  margin: 5px 0;
}

.card-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-image {
  width: 200px;
  height: 155px;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.card-profile-content p {
  font-size: 16px;
  margin: 5px 0;
}

.card-profile-content hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.card-profile-content .description {
  font-size: 12px;
}


.card-profile-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.message-button {
  padding: 10px 35px;
  margin: auto;
  background-color: #fff;
  color: #034991;
  border: none;
  border-radius: 5px;
  border: #034991 solid 1px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.more-button {
  padding: 10px 35px;
  margin: auto;
  background-color: #034991;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.more-button:hover,
.message-button:hover {
  transform: scale(1.08);
}



.header-container {
  text-align: center;
  padding: 70px;
  background-color: rgb(38, 38, 167);
  margin-bottom: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.background-title {
  font-size: 44px;
  margin-bottom: 10px;
  color: white;
}

.ver-mas-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #CD1719;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}




.row-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.icon-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.row-profile p {
  font-size: 10px;
}

.icon-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3px;
  margin: 0 10px;
}




.cards-container {
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
  justify-content: space-between; /* Distribuye el espacio disponible entre los elementos */
  padding: 3rem 3rem;
  background-color: #F4F6F5;
}

/* Media Query para pantallas con un ancho máximo de 414px y un alto máximo de 896px */
@media (max-width: 414px) and (max-height: 896px) {
  .cards-container {
    padding: 10px; /* Ajusta el espaciado en esta resolución */
  }
}

/* Media Query para pantallas con un ancho máximo de 768px y un alto máximo de 1024px */
@media (max-width: 768px) and (max-height: 1024px) {
  .cards-container {
    justify-content: center; /* Centra los elementos en esta resolución */
    padding: 15px; /* Ajusta el espaciado en esta resolución */
  }
}

/* Media Query para pantallas con un ancho máximo de 1280px y un alto máximo de 950px */
@media (max-width: 1280px) and (max-height: 950px) {
  .cards-container {
    justify-content: space-between; /* Vuelve a distribuir el espacio entre los elementos */
    padding: 20px; /* Ajusta el espaciado en esta resolución */
  }
}

