.rectangle_abajo{
    background-color: #034991;
    height: 400px;
    left: 0;
    top: 0;
    width: 100%;
  }
  .participaci-n-en2{
    color: #ffffff;
    font-size: 18px;
   margin-top: 40px;
   
   
    display: flex;
    justify-content: center;
    width: 100%; /* Opcional: para que el elemento ocupe todo el ancho del contenedor */
    height: 100%;
    padding: 20px; 
    
  }
  .participaci-n-ed{
    color: #ffffff;
    font-size: 48px;
    padding: 20px; 
   padding-top: 50px;
   
    display: flex;
    justify-content: center;
    width: 100%; /* Opcional: para que el elemento ocupe todo el ancho del contenedor */
    height: 100%;
    margin-top: 20px; 
    
  }
  .btn-contactar{
    padding-left: 45%;
  }